.App {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
  .row {
    padding-top: 35%;
    flex-direction: column;
  }
  .App{
    width: 80%;
  }
}

